{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}
    <main class="content container">
    {{ block "main" . -}}{{- end }}
    </main>

    {{ if not .Site.IsServer }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>
      var elem = document.querySelector('.grid');
      // var msnry = new Masonry( elem, {
      //   // options
      //   itemSelector: '.grid-item',
      //   // use element for option
      //   columnWidth: '.grid-sizer',
      //   percentPosition: true,
      //   fitWidth: true,
      //   gutter: 20
      // });

      imagesLoaded( elem, () => {
          new Masonry( elem, {
            // options
            itemSelector: '.grid-item',
            // columnWidth: 200,
            gutter: 20,
            fitWidth: true,
          })
        } 
      );
      // var msnry = new Masonry( elem, {
      //   // options
      //   itemSelector: '.grid-item',
      //   // columnWidth: 200,
      //   gutter: 20,
      //   fitWidth: true,
      // });
    </script>
  </body>
</html>